* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('./images/background.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fdfdfd;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chat-container {
  width: 100%;
  max-width: 700px;
  margin: 20px;
  padding: 20px;
  background-color: #a6c2c6;
  border: 1px solid #201b1b;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 700px;
}

.top-part {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #584fd9;
  border-radius: 5px;
  margin-bottom: 20px;
}

.prini-details {
  display: flex;
  align-items: center;
}

.prini-details img {
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.prini-text h3 {
  font-size: 18px;
}

.prini-text p {
  font-size: 14px;
  margin-top: 5px;
}

.online-status {
  color: #0f0;
}

.messages {
  display: inline-block;
  flex-grow: 1;
  overflow-y: auto;
  background-color: white;
  color: #0f0f20;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
}

#input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #05cee9;
  border-radius: 5px;
  margin-right: 10px;
  resize: none; /* Disable manual resizing */
  overflow: hidden;
  max-height: 150px; /* Limit the max height */
}

#send {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #05cee9;
  color: #0f0f20;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  font-size: 15px;
  max-width: fit-content;
}

.user {
  background-color: #05cee9;
  color: black;
  text-align: right;
  align-self: flex-end;
  margin-left: auto;
}

.chatbot {
  background-color: #584fd9;
  color: white;
  text-align: left;
  align-self: flex-start;
  margin-right: auto;
}
